.menu
    nav.navbar.navbar-default.menu-bar
        .navbar-header
            button.navbar-toggle
                span Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.alinh-isp.logo(ui-sref="home") Mobix  
        //.container-fluid
            .collapse.navbar-collapse
                ul.nav.navbar-nav.alinhar
                    li
                        a(ui-sref="home")
                            i.fa.fa-users(aria-hidden="true")
                            |  Home
                    li
                        a(ui-sref="sobre")
                            i.fa.fa-users(aria-hidden="true")
                            |  Sobre
