script
       | window.faciliadadesModal = '
       include ./../views/modals/testeUsuario/facilidades.pug
       | ';

       | window.SSIDModal = '
       include ./../views/modals/testeUsuario/ssid.pug
       | ';