.container-fluid
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading(role="tab")
                    h4.panel-title Visualizar/Editar Cliente ({{ vm.cliente.nome }})
                .panel-body.sajdhajsd Olá mundo Sobr
