md-dialog(aria-label="Mango (Fruit)")
    md-dialog-content 
        form(action="")
            .form-group
                label(for="email")
                    | Email address:
                input.form-control(type="email" id="email")
            
            button.btn.btn-default(type="submit")
                | Submit