md-dialog        
        md-toolbar.top-modal
            .md-toolbar-tools.titulo-modal
                | Alterar SSID

                span(flex)

                md-button.md-icon-button(ng-click="cancel()" aria-label="Close dialog")
                    i.fa.fa-times 

        md-dialog-content
            .md-dialog-content
                form.form-inline
                    .form-group
                        label(for="email")
                            | Email addres:  
                        input.form-control.input-modal-linear(type="email" id="email" placeholder="Digitar nome da Rede")
                    
                        button.btn.btn-primary.btn-modal-linear
                            | Editar

                        button.btn.btn-primary.btn-modal-linear
                            | Enviar por e-mail 