md-dialog
    
    md-dialog-content
        form.form-inline
            .md-dialog-content
                
                    .form-group
                        label(for="email")
                            | Email addres:
                        input.form-control(type="email" id="email")
                    
                    button.btn.btn-primary
                        | Submit